
.vs/RealismMod/FileContentIndex/cc1b348d-bd72-4313-8af7-49c8c64869ee.vsidx
.vs/RealismMod/FileContentIndex/cc1b348d-bd72-4313-8af7-49c8c64869ee.vsidx
.vs/RealismMod/FileContentIndex/cc1b348d-bd72-4313-8af7-49c8c64869ee.vsidx
.vs/RealismMod/FileContentIndex/cc1b348d-bd72-4313-8af7-49c8c64869ee.vsidx
.vs/RealismMod/FileContentIndex/7c92d891-bc67-4952-801f-4706ebfab471.vsidx
.vs/RealismMod/FileContentIndex/62ea04bf-a690-4f4e-996d-a2aa4670f3b9.vsidx
.vs/RealismMod/FileContentIndex/45f259d5-d1d2-4d2a-8d7c-686522981936.vsidx
.vs/RealismMod/FileContentIndex/285e9bb0-682d-4a2c-83a0-29ec486d6284.vsidx
.vs/RealismMod/FileContentIndex/2208331a-d699-484f-bcf1-58dc8dfbceae.vsidx
.vs/RealismMod/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/realismmod.projects.v5.2
.vs/ProjectEvaluation/realismmod.metadata.v5.2
.vs/RealismMod/v17/.suo
.vs/RealismMod/v17/.futdcache.v2
obj/Debug/netstandard2.0/RealismMod.pdb
obj/Debug/netstandard2.0/RealismMod.dll
obj/Debug/netstandard2.0/RealismMod.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/RealismMod.pdb
obj/Debug/netstandard2.0/RealismMod.dll
obj/Debug/netstandard2.0/RealismMod.csproj.CoreCompileInputs.cache
.vs/RealismMod/FileContentIndex/7c92d891-bc67-4952-801f-4706ebfab471.vsidx
.vs/ProjectEvaluation/realismmod.metadata.v5.2
.vs/ProjectEvaluation/realismmod.projects.v5.2
.vs/RealismMod/DesignTimeBuild/.dtbcache.v2
.vs/RealismMod/FileContentIndex/011f26fa-bcdd-44a5-9318-a086ae10e1dc.vsidx
.vs/RealismMod/FileContentIndex/262f5431-6b83-446a-8430-f4ccf0eb4942.vsidx
.vs/RealismMod/FileContentIndex/27b750e7-9098-48d5-9e57-e1423b5a6b24.vsidx
.vs/RealismMod/FileContentIndex/7c92d891-bc67-4952-801f-4706ebfab471.vsidx
.vs/RealismMod/FileContentIndex/adc9c6be-a690-423c-849d-052b86f691f4.vsidx
.vs/RealismMod/FileContentIndex/cdbe08d6-503c-4ea3-8489-658cc30c773b.vsidx
.vs/RealismMod/FileContentIndex/cfea6ba3-bc61-47eb-852b-f7610d167fae.vsidx
.vs/RealismMod/FileContentIndex/d1a7ba10-1700-4756-afa4-19d489bcb9a0.vsidx
.vs/RealismMod/FileContentIndex/e4ddb5fe-275a-41b8-aa4b-b8bece2a3601.vsidx
.vs/RealismMod/v17/.futdcache.v2
.vs/RealismMod/v17/.suo
.vs/RealismMod/FileContentIndex/adc9c6be-a690-423c-849d-052b86f691f4.vsidx
*.vsidx
*.vsidx
.vs/RealismMod/FileContentIndex/7c92d891-bc67-4952-801f-4706ebfab471.vsidx
*.editorconfig
*.cache
*.editorconfig
*.cache
obj
bin
libs
.vs
Dependencies
.vscode/tasks.json
